html,
body {
  background-color: lightgray;

  & > #root {
    display: flex;
    justify-content: center;
  }
}

hr {
  width: 100%;
}

:root {
  --green: rgba(14, 165, 0, 0.6);
  --primary: gray;
  --secondary: lightgray;
  --black: black;
}
